*{
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   
}

nav{

    height: 50px;
    color:rgb(0, 0, 0); 
}

nav p{
    padding: 10px;
    border-left: 3px solid whitesmoke;
}